$border: 1px solid black;
$radius: 3px;
#todolist {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  width: 500px;
  margin: 0 auto;
}

.mainTitle {
  font-size: 3em;
  color: green;
  text-align: center;
  letter-spacing: 0.2em;
}

.listEvent .listEventToggle {
  margin: 0;
}

.addToDoHolder {
  // display: inline-block;
  float: right;
}

.todoItemValue {
  margin: 10px 15px;
  height: 32px;
  border-radius: $radius;
}

.chosen .eventToDoInfo {
  text-decoration: line-through;
}

.listEvent>* {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px; // border:  $border;
  border-radius: $radius;
  align-items: center;
}

.listEventToggle,
.eventToDoInfo {
  cursor: pointer;
}

.icoMargin {
  margin: 5px;
}

.menu ul {
  display: none;
  margin: 0;
}

.menu .title {
  font-weight: bold;
  cursor: pointer;
}

.menu .title:before {
  content: '▶';
  padding-right: 6px;
  color: green;
}

.menu.open ul {
  display: block;
}

.menu.open .title:before {
  content: '▼';
}

.editorInput {
  padding: 0 10px;
  border-radius: 2px;
  border: $border;
  z-index: 10;
  top: 0;
  left: 0;
  width: 80%;
  margin-left: 30px;
  height: 25px;
}

.editIcoHolder {
  display: inline-block;
  line-height: 100%;
  right: 5px;
  position: absolute;
  cursor: pointer
}

.editIcoHolder span {
  display: inline-block;
  margin: 5px;
  z-index: 10;
}

.listEvent .usual {
  display: flex;
}

.listEvent .editing {
  display: none;
}

.main {
  display: none;
  height: 100%;
}

.registrationHolder {
  display: none;
}

.registrationHolder,
.authorizationHolder {
  width: 400px;
  margin: 20% auto;
  border: $border;
  border-radius: $radius;
  padding: 20px;
}

.registrationTitle,
.authorizationTitle {
  margin: 5px 0 10px;
  text-align: center;
}

.registrationHolder {
  .errorMessage {
    font-size: 0.8em;
    color: red;
  }
  p {
    margin: 10px 0;
  }
  .registrationSubmitBtnHolder {
    margin: 20px;
  }
  .registrationFormSubmitBtn {
    float: right;
  }
}

.authorizationHolder {
  .errorMessage {
    font-size: 0.8em;
    color: red;
  }
  p {
    margin: 10px 0;
  }
  .authorizationSubmitBtnHolder {
    margin: 10px;
  }
  .authorizationFormSubmitBtn {
    float: right;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 10%;
  box-sizing: border-box;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: yellowgreen
}

.header {
  .headerButton {
    float: right;
    margin: 0 10px;
  }
  .editListName {
    color: black;
    font-style: italic;
    font-size: 0.8em;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
  }
  input {
    color: black;
  }
}

.errorMessage {
  font-size: 1.2em;
  color: red;
}

.headerInfo {
  color: white;
  font-size: 1.5em;
}

.ToDoListsListName {
  cursor: pointer;
  font-size: 1.3em;
}

.deleteList {
  color: red;
  font-style: italic;
  font-size: 0.8em;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
}

.deleteList:hover {
  text-shadow: 0 0 1px black;
}

.toggleListHolder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center
}

.toggleUserHolder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center
}

.visibilityToggle {
  width: 15px;
  height: 15px;
  margin: 8px;
}

.notOwnAccount {
  .onlyOwnPropretty {
    display: none !important
  }
  .todoTextHolder {
    margin: 0 auto;
  }
}

#root {
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 10%;
    box-sizing: border-box;
    padding: 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, .45)
  }
  .header {
    .headerButton {
      float: right;
      margin: 0 10px;
    }
    .editListName {
      color: black;
      font-style: italic;
      font-size: 0.8em;
      cursor: pointer;
      margin: 0 5px;
      display: inline-block;
    }
    input {
      color: black;
    }
  }
  .errorMessage {
    font-size: 1.2em;
    color: red;
  }
  .headerInfo {
    color: white;
    font-size: 1.5em;
  }
  .todoList {
    width: 500px;
    margin: 0 auto;
  }
  .todoListTitle {
    font-size: 3em;
    color: green;
    text-align: center;
    font-weight: bold;
  }
  .list {
    position: relative;
    margin: 0 auto;
    width: 272px;
    border-radius: 3px;
    background-color: #dfe3e6;
  }
  .list>* {
    padding: 0;
    margin: 0 8px;
  }
  .addToDoHolder {
    margin-bottom: 8px;
    float: right;
  }
  .todoItemValue {
    margin: 10px 15px;
    height: 32px;
    border-radius: $radius;
  }
  .toggleUserHolder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center
  }
  .visibilityToggle {
    width: 15px;
    height: 15px;
    margin: 8px;
  }
  .toggleListHolder {
    display: flex;
    flex-direction: row-reverse;
    align-items: center
  }
  .listEvent .listEventToggle {
    margin: 0;
    cursor: pointer;
  }
  .todoTextHolder {
    padding: 2px 10px;
    width: 85%;
  }
  .listEvent {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px; // border:  $border;
    border-radius: $radius;
    align-items: center;
  }
  .editorInput {
    padding: 0 10px;
    border-radius: 2px;
    border: $border;
    z-index: 10;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: 30px;
    height: 25px;
  }
  .listEvent {
    margin: 0;
  }
  .header {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .todosList {
    display: inline-block;
    margin: 0 4px;
  }
  .todosList:first-child {
    margin: 0 4px 0 8px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.listLists:hover {
  background-color: '#f5f6f7'
}

.listLists {
  padding: '6px 8px 2px';
  margin: 0;
  background-color: '#fff';
  margin-bottom: 8px;
  box-shadow: '0 1px 0 rgba(9,45,66,.25)';
  border-radius: 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.icoHolder {
  display: none;
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0.75;
}

.todoListItem:hover .icoHolder {
  display: block;
}

.todoListItem:hover {
  border-bottom-color: rgba(9, 45, 66, 0.25);
  background-color: #f4f5f6;
}

.addNewTodo:hover {
  background-color: rgba(9, 45, 66, .13);
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.addTodoButton {
  font-size: 12px;
  padding: 6px 12px;
  margin: 0 4px 8px 10px;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  border-radius: 3px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.addTodoButton:hover {
  background-color: #519839;
}

.closeAddTodoIcon {
  color: #798d99;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.closeAddTodoIcon:hover {
  color: #516b7a;
}

.todoEditIco {
  color: #798d99;
}

.todoEditIcoHolder {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  padding: 4px;
  display: none;
  cursor: pointer;
  border-radius: 3px
}

.todoEditIcoHolder:hover .todoEditIco {
  color: #516b7a;
}

.todoEditIcoHolder:hover {
  background-color: rgba(235, 238, 240, 1);
}

.todoListItem:hover .todoEditIcoHolder {
  display: block;
}

.todoListItem {
  background-color: #fff;
  position: relative;
  word-wrap: break-word;
}

.todoListItem:hover {
  background-color: #f5f6f7;
}

.todoEdditingTextarea {
  width: 240px;
  resize: none;
  border: none;
  outline: none;
  color: #17394d;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 6px 0;
}

.toggleHolderTitle {
  -moz-box-shadow: none;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -4px 0;
  height: 20px;
  min-height: 20px;
  padding: 4px 7px;
  resize: none;
  max-height: 256px;
  color: #17394d;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: prointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.toggleHolderTitle:focus {
  background-color: #fff;
  border: 1px solid #5ba4cf;
  box-shadow: 0 0 0 1px #5ba4cf;
}

.saveTodoChanges {
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  bottom: -45px;
  left: 0;
}

.addNewTodo:hover {
  color: #17394d;
}

.addNewTodo:hover .addToDoPlus {
  color: #17394d;
}

.addToDoPlus {
  color: #8da6b4;
}

.addNewTodo {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px;
  line-height: 20px;
  font-weight: 400;
  color: #798d99;
  margin: 0 -8px;
  cursor: pointer;
}

.addNewTodo:hover .addNewTodoText {
  text-decoration: underline;
}

.listStub {
  position: absolute;
  left: -8px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: inherit;
  z-index: 100;
}

.draggingTodoHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(9, 45, 66, .04);
  z-index: 10;
  border-radius: 3px;
}

.addNewListContainer {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 auto;
  min-height: 32px;
  width: 272px;
}

.addNewListContainer:hover {
  background-color: rgba(0, 0, 0, .24);
}

.addNewListContainer span {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  margin: 0 4px 4px 4px;
  line-height: 20px;
  padding: 6px 8px;
}

.boardBox {
  display: inline-block;
  color: rgb(23, 57, 77);
  margin-bottom: 8px;
  height: 96px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 24px;
  margin-right: 6%;
  position: relative;
  padding: 8;
  width: 94%;
  background-color: rgba(9, 45, 66, .08);
  border-radius: 3px;
  cursor: pointer;
}

.createBoardButton {
  align-items: flex-start;
  background-color: rgb(245, 246, 247);
  border-bottom-color: rgb(151, 167, 176);
  border-radius: 3px;
  border-style: none;
  border-bottom-width: 0px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(151, 167, 176);
  cursor: default;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 700;
  height: 32px;
  letter-spacing: normal;
  line-height: 20px;
  margin: 8px 4px 20px 0;
  padding: 6px 12px;
  text-align: center;
  text-shadow: none;
  text-size-adjust: 100%;
  transition-duration: 0.085s;
  position: relative;
}

.createBoardColorsSelectList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.createBoardColorsSelectList div {
  width: 28px;
  height: 28px;
  margin-bottom: 6px;
  border-radius: 3px;
}

.createBoardInput {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: text;
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 28px;
  top: 10px;
  left: 10px;
  letter-spacing: normal;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  position: relative;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-duration: 0.085s;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  width: 236px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
}

.createBoardInput:focus {
  background: hsla(0, 0%, 100%, .3);
  border-radius: 3px;
  outline: 0;
}

.createBoardInput:hover {
  background: hsla(0, 0%, 100%, .15);
}

.choseBoardPrivacyButton {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  border-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-style: none;
  border-left-width: 0px;
  border-right-style: none;
  border-right-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 24px;
  left: 10px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 2px 8px;
  position: relative;
  text-align: left;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-duration: 0.085s;
}

.newBoardCreator {
  font-size: 14px;
  font-weight: 400;
  color: #6b808c;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 16px);
}

.newBoardCreator:hover {
  background-color: rgba(9, 45, 66, .13);
  color: #17394d;
}

.boardShadowBox:hover {
  background-color: rgba(0, 0, 0, .25);
}

.boardTitleAtList {
  height: 32px;
  padding: 0 12px 0 10px;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: white;
  line-height: 32px;
  cursor: pointer;
}

.boardPrivacyAtList {
  border-radius: 3px;
  padding: 0 12px 0 10px;
  font-weight: 400;
  display: inline-block;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 32px;
  color: white;
  cursor: pointer;
}

.boardSetsing>* {
  line-height: 32px;
}

.boardPrivacyAtList:hover,
.boardTitleAtList:hover {
  background: rgba(0, 0, 0, .3);
}

.boardAccessedUsers,
.addAccessToUser {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 2px;
  position: relative;
  line-height: 28px;
  text-align: center;
  margin-right: -5px;
}

.addAccessToUser {
  color: white;
  cursor: pointer;
  background-color: rgba(223, 227, 230, 0.5);
}

.boardAccessedUsersHolder,
.addAccessToUserHolder {
  border-radius: 50%;
  width: 100%;
  position: absolute;
  height: 100%;
}

.addAccessToUser:hover,
.boardAccessedUsersHolder:hover {
  background-color: rgba(0, 0, 0, .25)
}

.addAccessToUserInput {
  background-color: rgb(235, 238, 240);
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: rgb(223, 227, 230);
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-stretch: 100%;
  font-weight: 400;
  height: 34px;
  letter-spacing: normal;
  line-height: 20px;
  margin: 12px 0 20px;
  padding: 6px 30px 6px 8px;
  text-align: start;
  text-indent: 0px;
  transition-duration: 0.085s;
  width: 280px;
  word-spacing: 0px;
}

.addTitleButton {
  align-items: flex-start;
  background-color: rgb(90, 172, 68);
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  border-style: none;
  border-width: 0px;
  border-image-width: 1;
  box-shadow: rgb(63, 111, 33) 0px 1px 0px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  letter-spacing: normal;
  line-height: 20px;
  margin-top: 8px 4px 0 0;
  padding-top: 6px 24px 6px;
  transition-duration: 0.085s;
}

.addTitleButton:hover {
  background-color: #519839;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
}

.addTitleButton:active {
  background-color: #3f6f21;
}

.changePrivacy div {
  padding: 12px;
  font-weight: 700;
  color: rgb(23, 57, 77);
}

.changePrivacy div:hover {
  background-color: #298fca;
  color: #fff;
}

.changePrivacy div:active {
  background-color: #0079bf;
}

.todosList {
  padding: 0 0 20px;
}

.boardAccessedUsersNickname {
  position: absolute;
  padding: 5px;
  background-color: rgb(4, 6, 32);
  border: 1px solid black;
  bottom: -30px;
  right: -65px;
  color: white;
  font-weight: 700;
  line-height: 14px;
  font-size: 1.25em;
  display: none;
}

.boardAccessedUsersHolder:hover .boardAccessedUsersNickname {
  display: block
}

.buttonHeaders {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  background-origin: padding-box;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  margin-right: 4px;
  min-width: 32px;
  text-decoration-color: rgb(255, 255, 255);
}

.headerUsersHolder {
  border-radius: 50%;
  width: 100%;
  position: absolute;
  height: 100%;
}

.headerUsersHolder:hover {
  background-color: rgba(0, 0, 0, .25)
}

.headerUsers {
  font-size: 18px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  line-height: 30px;
  text-align: center;
}

.userSettsingsButton {
  margin: 8px -12px 0;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: left
}

.userSettsingsButton div {
  padding: 6px 12px;
}

.userSettsingsButton div:hover {
  background-color: #298fca;
  color: #fff;
}

.userSettsingsButton div:active {
  background-color: #0079bf;
}

.avatarImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.listsOfBoardHolder {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.listsOfBoardHolder:hover {
  background-color: rgba(255, 255, 255, 0);
}

.boardListFilter {
  background-color: rgb(235, 238, 240);
  border-color: rgb(223, 227, 230);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: rgb(23, 57, 77);
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  line-height: 20px;
  margin: 1px 1px 8px;
  padding: 6px 8px;
  width: 100%;
}

.createBoardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todoInfoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.64);
}

.todoInfoContainer {
  position: fixed;
  background-color: rgb(235, 238, 240);
  border-radius: 2px;
  color: rgb(23, 57, 77);
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  left: calc(50% - 384px);
  top: 48px;
  width: 768px;
  min-height: 100px;
  z-index: 35;
}

.bigAvatar {
  background-color: rgb(223, 227, 230);
  border-radius: 50%;
  color: rgb(23, 57, 77);
  cursor: pointer;
  height: 85px;
  line-height: 20px;
  position: relative;
  text-decoration-color: rgb(23, 57, 77);
  width: 85px;
  display: inline-block;
}

.bigAvatarLetter {
  color: rgb(23, 57, 77);
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 700;
  height: 85px;
  left: 0px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  text-size-adjust: 100%;
  top: 0px;
  user-select: none;
  width: 85px;
  z-index: 1;
}

.profileButton {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(223, 227, 230);
  border-color: rgb(223, 227, 230);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(23, 57, 77);
  cursor: default;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  margin: 2px 2px -1px;
  padding: 8px 20px 9px;
  text-align: center;
  text-decoration-color: rgb(23, 57, 77);
  text-decoration-style: solid;
}

.profileButtonHolderChosen .profileButton {
  background-color: rgb(223, 227, 230);
  border-bottom-color: rgb(23, 57, 77);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-left-color: rgb(223, 227, 230);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(223, 227, 230);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(223, 227, 230);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(23, 57, 77);
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  margin: 2px 2px 0;
  padding: 8px 20px;
  text-align: center;
}

hr {
  background-color: rgba(9, 45, 66, 0.13);
  border-color: rgb(23, 57, 77);
  border-style: none;
  border-width: 0px;
  box-sizing: content-box;
  display: block;
  height: 1px;
  line-height: 20px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  width: 100%;
}